h1, p{
  text-align: center;
}
.nav{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.nav p{
  color: white;
  font-size: larger;
  padding: 10px;
}
.nav p:hover{
  color: #00125c;
  background-color: white;
}
.form{
  height: 100vh;
  border-radius: 5px;
  background-color: 
#f2f2f2;
  padding: 20px 20px;
}
.form input{
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid 
#ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #19431b;
}






@media screen and (min-width: 1200px) {
  .form{
  height: 100vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 140px;
}

}